.register-container{
    min-height:100vh;
    box-sizing: border-box;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.user-label{
    padding-bottom:2em;
}
#username{
    margin-bottom: 2em;
}

#allEvents{
    margin-bottom: 2em;
}